
<% if @results %>
  <div id="results-form">
    <% @results.each_with_index do |result, index| %>
      <%= form_for(:bookmark, :url => topic_bookmarks_path, :method => :post) do |form| %>
        <div><%= result [0] %></div>
        <div><%= link_to result [1], result[1], target:"_blank", class:"google-link"%></div>
        <div><button class="save-button">Save</button></div>
        <%= form.hidden_field :topic_id, value: "#{params[:topic_id]}" %>
        <%= form.hidden_field :url, value: "#{result[1]}"%>
      <% end %>
    <% end %>
  </div>
<% end %>
