<h1><%= link_to "Topics", topics_path %>/<%= link_to @topic.name, topic_path(@topic) %>/Bookmarks</h1>

  <%= link_to "Add", new_topic_bookmark_path %>
<ul>
<% @bookmarks.each do |bookmark| %>
  <li><%= bookmark.name %> | <%= link_to bookmark.url, bookmark.url, target: "_blank" %></li>
<% end %>
</ul>
