<%= form_for(:note, :url => topic_notes_path, :method => :post) do |form| %>

  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :body, style:"resize:none;" %>
  </div>

  <div class="field">
    <%= form.hidden_field :bookmark_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :video_id, value:"#{params[:video_id]}"%>
  </div>

  <div class="field">
    <%= form.hidden_field :topic_id, value: "#{params[:topic_id]}" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
