<% if @videos != [] %>
  <h2>Videos</h2>
  <ul>
    <% @videos.each do |video| %>
      <li><%= link_to video.title, video.watch_link, target:"_blank" %></li>
      <% if video.notes != [] %>
        <ul>
          <% video.notes.each do |note| %>
            <li><%= note.body %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% if @bookmarks != [] %>
  <h2>Bookmarks</h2>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li><%= link_to bookmark.url, bookmark.url, target:"_blank" %></li>
      <% if bookmark.notes != [] %>
        <ul>
          <% bookmark.notes.each do |note| %>
            <li><%= note.body %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% if @misc_notes != [] && @misc_notes %>
  <h2>Notes</h2>
  <ul>
    <% @misc_notes.each do |note| %>
      <li><%= note.body %></li>
    <% end %>
  </ul>
<% end %>
