<h1><%= link_to "Topics", topics_path %>
<% if @parent %>
  <% @topic.ancestors.reverse.each do |ancestor| %>
    <%= link_to ancestor.name, topic_path(ancestor.id) %>/
  <% end %>
<% end %>
<%= @topic.name %></h1>

<% if @children %>
  <div id="topic-children">
    <% @children.each do |child| %>
      <p>-><%= link_to child.name, topic_path(child.id) %></p>
    <% end %>
  </div>
<% end %>

<div id="topic-show">
  <div class="centered"><%= link_to 'Bookmarks', "/topics/#{@topic.id}/bookmarks", class:"link"%></div>
  <div class="centered"><%= link_to 'Videos', "/topics/#{@topic.id}/videos", class:"link"%></div>
  <div class="centered"><%= link_to 'Notes', "/topics/#{@topic.id}/notes", class:"link"%></div>
  <div class="centered"><%= link_to 'Summary', "/topics/#{@topic.id}/summary", class:"link"%></div>
  <div class="centered"><%= link_to 'View Tree', "/topics/#{@topic.id}/main", class:"link"%></div>
</div>
