<h1><%= @video.topic.name %></h1>

<%= link_to 'Edit', edit_topic_video_path(@video) %> |
<%= link_to 'Back', topic_videos_path %>

<iframe class="video" src="<%= @video.uri %>" frameborder="0" allowfullscreen width="100%" height="300px"></iframe>
<button id="open-notes">Notes</button>
<% @notes.each do |note| %>
  <li><%= note.body %></li>
<% end %>
