<div id="upper-page">
  <h1><%= @video.topic.name %></h1>

  <%= link_to 'Edit', edit_topic_video_path(@video) %> |
  <%= link_to 'Back', topic_videos_path %>
</div>
<button id="hide-upper-page">Hide</button>
<iframe id="video" src="<%= @video.uri %>" frameborder="0" allowfullscreen height= "300px"></iframe>

<button id="open-new-notes">New Note</button>
<iframe id="new-notes" src="/topics/<%=@topic.id%>/notes/new?video_id=<%= @video.id %>"></iframe>
